html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: black;
}
body {
  zoom: 3.75;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
div {
  display: flex;
}
canvas {
  /* Keep pixel art looking good when canvas is scaled up.  */
  /* In the future, this might be an opt-in feature of GTP. */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering:   -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Non-Chrome Webkit, e.g. Safari */
  image-rendering: pixelated; /* Chrome */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
